.row-header {
    margin: 0px auto;
    padding: 0px auto;
  }
  .row-content{
      margin: 0px auto;
      padding: 50px 0px 50px 0px;
      border-bottom: 1px ridge;
      min-height: 400px;
  }
  .footer {
      background: #D1C4E9;
      margin: 0px auto;
      padding: 20px 0px 20px 0px;
  }
  .jumbotron {
      padding: 70px 30px 70px 30px;
      margin: 0px auto;
      background: #9575cd;
      color: floralwhite;
  }
  .address {
      font-size: 80%;
      margin: 0px;
      color: #0f0f0f;
  }
  
  .body {
      padding: 50px 0px;
      z-index: 0;
  }
  
  .navbar-dark {
      background-color: #512DA8;
      
  }